$highlight-color: #2eca7f;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    color: #424242;
    background-color: #f5f5f5;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 15px;
    line-height: 1.6em;
    background-image: url(../assets/img/main_bg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

header{
    display: flex;
    width: 1032px;
    height: 100px;
    justify-content: space-between;
    margin: auto;
    z-index: 10;
    .site__title {
        color: #49515d;
        font-size: 20px;
        font-weight: 500;
        font-family: 'Montserrat', Helvetica, sans-serif;
        line-height: 1;
        margin: 38px 0 0;
        span {
            color: $highlight-color;
        }
    }
    nav {
        ul {
            li {
                display: inline-block;
                position: relative;
                text-align: center;
                margin-top:33px;
                a {
                    display: block;
                    position: relative;
                    padding: 8px 0;
                    margin: 0 20px;
                    text-align: center;
                    color: #49515d;
                    font-size: 15px;
                    line-height: 1;
                    font-weight: 400;
                    position: relative;
                    text-decoration: none;
                    outline: none;
                    opacity: 0.6;
                    &:after{
                        display: block;
                        position: absolute;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        border-bottom: 2px solid;
                        content:'';
                        width: 0;
                        height: 2px;
                        margin: auto;
                        color: $highlight-color;
                        transition: all 0.15s ease-in-out;
                    }
                    &:active{
                        opacity: 1;
                        &:after{
                            width: 25px;
                        }
                    };

                    &:hover{
                        cursor: pointer;
                        text-decoration: none;
                        &:after {
                            width: 25px;
                        }
                    }
                }
            }
        }
    }
}

.container {
    position: relative;
    max-width: 1032px;
    border-radius: 15px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.1);
}

.page {
    &__header{
        position: relative;
        background-color: $highlight-color;
        padding: 50px;
        margin-bottom: 25px;
        background-image: url(../assets/img/main_bg.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 15px 15px 0 0;
    }

    &__photo {
        max-width: 280px;
        margin-bottom: -75px;
        border: 3px solid #fff;
        background-color: #fff;
        padding: 0;
        box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
        transition: all 0.3s ease-in-out;
        img {
            max-width: 100%;
            vertical-align: bottom;
            height: auto;
            border: 0;
        }
    }

    &__title {
        text-align: center;

        h2 {
            color: #fff;
            font-size: 54px;
            font-weight: 700;
            margin: 30px 0 0;
            line-height: 1.5em;
        }

        .title__subtitle {
            color: #fff;
            font-size: 18px;
            margin: 0;
        }

        .title__socialMedia {
            position: relative;
            text-align: center;
            margin: 0 auto;
            margin-top: 20px;
            
            a img {
                display: inline-block;
                width: 36px;
                height: 36px;
                background-color:#9e9e9e;
                border-radius: 24px;
                box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
            }
        }
    }

    &__content{
        padding-top: 20px;
        padding:30px 50px 50px;
        .content__aboutMe {
            display: inline-block;
            height: 100%;
            h3 {
                margin-bottom: 10px;
                font-size: 21px;
                margin: 5px 0 25px;
                font-weight: 600;
                span {
                    color: $highlight-color;
                }
            }
            p {
                font-size: 15px;
                margin: 0 0 10px;
                font-weight: 400;
            }
        }

        .content__info {
            display: inline-block;
            margin: 0;
            padding: 0 15px;

            dl {
                width: 100%;

                dt {
                    float: left;
                    width: 30%;
                    margin: 6px 0;
                    min-width: 120px;
                }

                dd {
                    float:left;
                    width: 70%;
                    margin: 6px 0;
                    color: #9e9e9e;
                    a {
                        color: $highlight-color;
                    }
                }
            }
        }
        
    }
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    .copyrights {
        display: block;
        margin-bottom: 12px;
        text-align: center;
        font-size: 12px;
        color: #9e9e9e;
        a {
            color: $highlight-color;
            text-decoration: none;
            outline: none;
            transition: all 0.3s ease-in-out;
        }
    }
}


#Home {
    display: none;
}


#Resume {
    display: none;

    .page__header {
        padding:30px 50px;
        margin-bottom: 0;
        h2 {
            color:#fff;
            font-size: 44px;
            font-weight: 600;
            line-height: 1.5em;
            margin: 0;
            text-align: center;
        }
    }

    .page__content {
        padding: 30px 50px 50px;
        h3 {
            font-size: 21px;
            margin:5px 0 25px;
            font-weight: 600;
            line-height: 1.5em; 
        }
        .timeline {
            border-left: 2px solid #e0e0e0;
            padding: 15px 0;
            &__card {
                position: relative;
                padding: 15px 20px 10px;
                margin-left: 20px;
                margin-bottom: 20px;
                background-color: #fff;
                border-left: 2px solid #2eca7f;
                box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
                &::before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    background-color: #fff;
                    border-radius: 10px;
                    width: 12px;
                    height: 12px;
                    top: 20px;
                    left: -29px;
                    border: 2px solid #2eca7f;
                    z-index: 2;
                }

                &::after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    background-color: #2eca7f;
                    border-radius: 10px;
                    width: 29px;
                    height: 2px;
                    top: 25px;
                    left: -29px;
                    z-index: 1;
                }
                h4 {
                    font-size: 16px;
                    line-height: 1.2em;
                    font-weight: 600;
                    margin: 0;
                }
                .card__time {
                    display: inline-block;
                    font-size: 12px;
                    line-height: 1.2em;
                    color: $highlight-color;
                    margin-bottom: 8px;
                }
                .card__company {
                    display: inline-block;
                    font-size: 12px;
                    line-height: 1.2em;
                    color: #9e9e9e;
                    margin-left: 5px;
                    margin-bottom: 8px;
                    padding-left: 8px;
                    border-left: 1px solid #e0e0e0;
                }

                p {
                    font-size: 15px;
                    margin: 0 0 10px;
                    font-weight: 400;
                }

            }
        }
        .skill {
            h3 {
                font-size: 21px;
                margin: 5px 0 25px;
                font-weight: 600;
                line-height: 1.5em;
                span {
                    color: $highlight-color;
                }
            }
            &__info {
                margin-bottom: 30px;
                h4 {
                    font-size: 0.8em;
                    line-height: 1.1em;
                    position: relative;
                    margin: 0 0 5px;
                    font-weight: 600;
                }
            }
            &__container{
                background-color: #f5f5f5;
                border: 1px solid #e0e0e0;
                box-sizing: border-box;
                height: 12px;
                margin-bottom: 12px;
                width: 100%;
            }
            &__percentage {
            background-color: $highlight-color;
            height: 10px;
            padding: 0;
            }    
        }
    }              
}

#Services {
    display: none;
    .page__header {
        padding:30px 50px;
        margin-bottom: 0;
        h2 {
            color:#fff;
            font-size: 44px;
            font-weight: 600;
            line-height: 1.5em;
            margin: 0;
            text-align: center;
        }
    }

    .page__content {
        padding: 30px 50px 50px;
        h3 {
            font-size: 21px;
            margin:5px 0 25px;
            font-weight: 600;
            line-height: 1.5em; 
            span {
                color: $highlight-color;
            }
        }

        .service {
            text-align: center;
            padding: 0;
            margin-bottom: 30px;
            &__img {
                width: 120px;
                height: 120px;
                background-color: #fafafa;
                border-radius: 100px;
                margin: 0 auto;
                text-align: center;
                transition: all 0.3s ease-in-out;
                img {
                    max-width: 100px;
                    height:64px;
                    margin:28px 0;
                }
            }
            h4 {
                font-size: 17px;
                padding:20px 0 0;
                font-weight:600;
                line-height: 1.5em;
                margin-top: 0;
                margin-bottom: 10px;
            }
            p {
                font-size: 15px;
                margin: 0 0 10px;
                font-weight: 400;
            }
        }

        .client {
            margin-bottom: 30px;
            &__logo {
                text-align: center;
                padding: 5px 0;
                opacity: 0.4;
                transition: all 0.25 ease-in-out;
                img {
                    max-width: 80px;
                    height: auto;
                    border: 0;
                }
            }
        }
    }
}

#Blog {
    display: none;
    .page__header {
        padding:30px 50px;
        margin-bottom: 0;
        h2 {
            color:#fff;
            font-size: 44px;
            font-weight: 600;
            line-height: 1.5em;
            margin: 0;
            text-align: center;
        }
    }
    .page__content {
        padding: 30px 50px 50px;
        .blog {
            padding: 0;
            max-width: 45%;
            text-align: center;
            margin: 20px;
            box-shadow: 0 1px 5px rgba(0,0,0,0.1);
            &__img {
                img {
                    max-width: 100%;
                    margin: 0;
                }
                .blog__date {
                    display: inline-block;
                    background-color: #fff;
                    border: 1px solid #e0e0e0;
                    padding:0.3em;
                    text-align: center;
                    position: absolute;
                    top:30px;
                    right: 2em;
                    min-width: 44px;
                    .day {
                        font-size: 21px;
                        margin: 3px 0;
                        color: $highlight-color;
                        line-height: 1;
                    }
                    .month {
                        display: block;
                        font-weight: 400;
                        margin-bottom: 3px;
                        color:$highlight-color;
                        line-height: 1;
                        margin: 0;
                    }
                }
            }
            &__info {
                padding:0.8em 1.2em 1.4em;
                .category {
                    color: #9e9e9e;
                    font-size: 0.8em;
                    font-weight: 400;
                }
                h4 {
                    font-weight: 600;
                    line-height: 1.5em;
                    font-size: 1em;
                }
            }
        }
    }
}

#Contact {
    display: none;
    .page__header {
        padding:30px 50px;
        margin-bottom: 0;
        h2 {
            color:#fff;
            font-size: 44px;
            font-weight: 600;
            line-height: 1.5em;
            margin: 0;
            text-align: center;
        }
    }
    .page__content {
        padding: 30px 50px 50px;
        h3 {
            font-size: 21px;
            margin: 5px 0 25px;
            font-weight: 600;
            line-height: 1.5em;
            span {
                color: $highlight-color;
            }
        }
        .contact {
            &__info {
                position: relative;
                text-align: left;
                width: 100%;
                display: block;
                margin: 0;
                padding: 10px 10px 10px 0;
                h5 {
                    position: relative;
                    padding-left: 50px;
                    margin: 5px 0;
                    font-weight: 600;
                    line-height: 1.5em;
                } 
            }
            &__icon {
                position: absolute;
                top: 50%;
                margin-top: -12px;
                width: 36px;
                height: 36px;
                background-color: #fafafa;
                border-radius: 20px;
                text-align: center;
                img {
                    position: relative;
                    width: 18px;
                    height: 18px;
                    text-align: center;
                    line-height: 36px;
                }
            }
            &__form {
                .form__group{
                    .form__item {
                        padding-left: 40px;
                        position: relative;
                        margin: 0 0 25px;
                        border-bottom: 1px solid #e0e0e0;
                        input {
                            padding:10px 0 0 10px;
                            margin-bottom: 12px;
                            border: none;
                        }
                        img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 40px;
                            text-align: center;
                            line-height: 42px;
                            color: #bdbdbd;
                            background-color: #fafafa;
                        }
                        textarea{
                            padding:10px 0 0 10px;
                            margin-bottom: 12px;
                            border: none;
                        }
                    }
                    .form__btn {
                        background-color: $highlight-color;
                        color: #fff;
                        border: 0;
                        box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.3);
                        text-transform: uppercase;
                        font-family: inherit;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 2.8;
                        padding: 0 1.5em;
                        outline: none;
                        border-radius: 3px;
                        margin-top:20px;
                    }
                }
            }
        }
    }
}

.show {
    display:block;
}