$highlight-color: #2eca7f;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    color: #424242;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 15px;
    line-height: 1.6em;
}

header{
    display: flex;
    width: 1032px;
    height: 100px;
    justify-content: space-between;
    margin: auto;
    .site__title {
        color: #49515d;
        font-size: 20px;
        font-weight: 500;
        font-family: 'Montserrat', Helvetica, sans-serif;
        line-height: 1;
        margin: 38px 0 0;
        span {
            color: $highlight-color;
        }
    }
    nav {
        ul {
            li {
                display: inline-block;
                position: relative;
                text-align: center;
                margin-top:33px;
                a {
                    display: block;
                    position: relative;
                    padding: 8px 0;
                    margin: 0 20px;
                    text-align: center;
                    color: #49515d;
                    font-size: 15px;
                    line-height: 1;
                    font-weight: 400;
                    position: relative;
                    text-decoration: none;
                    outline: none;
                    opacity: 0.6;
                    &:after{
                        display: block;
                        position: absolute;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        border-bottom: 2px solid;
                        content:'';
                        width: 0;
                        height: 2px;
                        margin: auto;
                        color: $highlight-color;
                        transition: all 0.15s ease-in-out;
                    }
                    &:active{
                        opacity: 1;
                        &:after{
                            width: 25px;
                        }
                    };

                    &:hover{
                        cursor: pointer;
                        &:after {
                            width: 25px;
                        }
                    }
                }
            }
        }
    }
}
